.hidden {
    display: none;
}

body, p, h1, h2, h3, h4, h5 {
    margin: 0px; 
    padding: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
 }

header {
   margin-top: 15px;
}

 .box {
    background-color: blueviolet;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
 }

 #hero-img {
    height: 200px;
 }

 .product {
    height: 150px;
 }

 .square {
    height: 200px;
 }

 #hidden-img {
   display: none;
 }

 @media screen and (min-width: 1200px) {
   #hidden-img {display: flex;}
 }
   
 