.hidden {
    display: none;
}

body, p, h1, h2, h3, h4, h5 {
    margin: 0px; 
    padding: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
 }



 .box {
    background-color: blueviolet;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
 }

 #hero-img {
    height: 200px;
 }

 .product {
    height: 150px;
 }

 .square {
    height: 200px;
 }